/*设置页面通用样式*/
div{
    display:block;
}
a,body{
    color:#333;
}
body, button, input, select, textarea {
    font: 12px/1.5 "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
}
ul, li, p, h3, h5, em, b, i, span, a {
    margin: 0;
    padding: 0;
}
a{
    text-decoration:none;
}
img{
    border:0;
}